#body {
    Width: 100%;
    Height: 1200px;
    margin-left: 20px;
    margin-right: 20px;


}



#header {

    Width:100%;
    background-color: white; 
    text-align: center;
    margin-top:20px;
    border-radius: 3px;
}

#sec1 {
    background-color: white; 
    
}